@charset "utf-8";
/* CSS Document */

/*MODAL*/


.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > div {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 25px;
    margin: 10% auto;
    z-index: 99999;
    padding: 16px 16px 0;
}

.dialog-button-bar {
    text-align: right;
    margin-top: 8px;
}

.container {
    display: block;
    position: relative;
    float: left;
    margin-left: 25px;
    padding-left: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 40px;
    background-color: rgb(212, 209, 209);
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: rgb(185, 181, 181);
}

/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #00897B;
    color: #ffffff;
}

.container input:disabled~.checkmark {
    cursor: not-allowed;
    background-color: #E64A19;
    color: #ffffff; 
}

/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    color: #615d5d
}

.room {

    position: relative;
    float: left;
    border: 3px solid black;
    border-radius: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

.room .triple {
    width: 220px;
    height: 100px;
}

.room .double {
    width: 155px;
    height: 100px;
}

.room .single {
    width: 90px;
    height: 100px;
}

.textboxroom {
    position: absolute;
    top: 40%;
    left: 70px;
}

.floor {
    position: absolute;
    right: 100px;
    top: 40%;
}

.submit {
    position: absolute;
    bottom: 20%;
    left: 150px;
}

.bed {
    position: absolute;
    top: 40px;
    left: 14px;
    font-size: 20px;
}

.roomlabel3 {
    position: absolute;
    left: 42%;
    top: 5px;
    font-size: 20px;
    padding-top: 3px;
}

.roomlabel2 {
    position: absolute;
    left: 40%;
    top: 5px;
    font-size: 20px;
    padding-top: 3px;
}

.roomlabel1 {
    position: absolute;
    left: 30%;
    top: 5px;
    font-size: 20px;
    padding-top: 3px;
}

hr.divider {
    margin: 1em;
    border-width: 2px;
}

/* ENDMODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
   
